*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
nav {
  background-color: rgb(138, 36, 36);
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}
nav ul li {
  list-style: none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  padding: 10px 15px;
  color: aliceblue;
}
.MuiGridListTile-tile a img {
  height: 100%;
}



.glow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(81, 255, 0), 0 0 5px rgb(99, 9, 122);
}
